<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS,Europe/Paris} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="FILE-INTERFACE" class="ch.qos.logback.core.FileAppender">
		<file>${karaf.home}/log/interfaces-tv.log</file>
		<append>true</append>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%d{HH:mm:ss.SSS,Europe/Paris} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</layout>
	</appender>

	<root level="DEBUG">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE-INTERFACE" />
	</root>
</configuration>