domoticz/logs/baretail.exe
domoticz/logs/plink.exe
domoticz/logs/domoticz.log
*.udm
*.bat
*.log
domoticz/database/domocookie.txt
tydom-bridge/node_modules
_docker/build_tydom/app.js
_docker/build_tydom/package-lock.json
_docker/build_tydom/package.json
_docker/build_tydom/node_modules
_docker/domotique-compose-local.yml

domoticz/database/backups/

domoticz/database/scripts/dzVents/domoticzData.lua
