domoticz/logs/baretail.exe
domoticz/logs/plink.exe
domoticz/logs/domoticz.log
*.udm
*.bat
*.log
domoticz/database/domocookie.txt
tydom-bridge/node_modules
_docker/build_tydom/app.js
_docker/build_tydom/package-lock.json
_docker/build_tydom/package.json
_docker/build_tydom/node_modules
_docker/domotique-compose-local.yml

domoticz/database/backups/

domoticz/database/scripts/dzVents/domoticzData.lua

_docker/build_domoticz/plugin.py

domoticz/database_local/scripts/dzVents/domoticzData.lua

domoticz/database_local/

domoticz.log.gz

sncf-extraction-sla/

_docker/build_httpd/httpddomoticzserver.crt

_docker/build_httpd/httpddomoticzserver.key
.idea/
_docker/build_httpd/_rules_access_clear_.txt
/domoticz-ext-bridge/
_docker/build_httpd/certs/httpddomoticzserver.key